In [107]:
import requests
import pandas as pd
import time
import numpy as np

In [ ]:
# TMDb API key
api_key = 'df52b87fbcb7dda06ba6e2dd775082cd'

# Base URL for TMDb API
base_url = 'https://api.themoviedb.org/3'

# Endpoint to get popular people
endpoint = '/person/popular'

# List to store data from all pages
all_people = []

# Loop through pages 1 to 1000
for page in range(1, 1001):
    # Full URL for the API request
    url = f'{base_url}{endpoint}?language=en-US&page={page}'
    
    # Headers including the authorization bearer token
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkZjUyYjg3ZmJjYjdkZGEwNmJhNmUyZGQ3NzUwODJjZCIsInN1YiI6IjY2NjMwMmJkYjJjNjEwNTIxNTE0ZmEwOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.ODtRxFBVDhxaAd_LwBPLyC_LI_CLnHhG5yxSuNqLIIs"
    }
    
    # Send the GET request to the API
    response = requests.get(url, headers=headers)
    
    # Check if the request was successful
    if response.status_code == 200:
        # Parse the JSON response
        popular_people_dict = response.json()
        
        # Add the results to the list
        all_people.extend(popular_people_dict['results'])
    else:
        # Print the error code if the request was not successful
        print(f'Error: {response.status_code}, {response.text}')
        break
    
    # Wait for 1.5 seconds before the next request to avoid hitting the rate limit
    time.sleep(1.5)

# Convert the list of all people to a DataFrame
df = pd.DataFrame(all_people)

In [12]:
df.head()

,adult,gender,id,known_for_department,name,original_name,popularity,profile_path,known_for
0,False,2,12799,Acting,Jeremy Piven,Jeremy Piven,201.728,/pqdR8zqAWF87chGYlbdYr0YfC7g.jpg,[{'backdrop_path': '/sd4xN5xi8tKRPrJOWwNiZEile...
1,False,2,2786960,Acting,Gabriel Guevara,Gabriel Guevara,149.828,/pviRYKEEmoPUfLYwP1VHJ6LQcRg.jpg,[{'backdrop_path': '/lntyt4OVDbcxA1l7LtwITbrD3...
2,False,2,976,Acting,Jason Statham,Jason Statham,121.863,/whNwkEQYWLFJA8ij0WyOOAD5xhQ.jpg,[{'backdrop_path': '/ibKeXahq4JD63z6uWQphqoJLv...
3,False,1,115440,Acting,Sydney Sweeney,Sydney Sweeney,131.117,/qYiaSl0Eb7G3VaxOg8PxExCFwon.jpg,[{'backdrop_path': '/9KnIzPCv9XpWA0MqmwiKBZvV1...
4,False,1,3775928,Acting,Julia Victoria,Julia Victoria,126.313,/3Xm4zDO3gUVU4OWZnhb983GnEGx.jpg,[{'backdrop_path': '/oKtYeBnasbOoJvEUgUVW6xdKp...

In [13]:
df.shape

(10000, 9)

In [81]:
df.to_csv('people.csv',index=False)

In [82]:
df.sample(20)

,backdrop_path_x,id,title_x,original_title_x,overview_x,poster_path_x,media_type,adult_x,original_language_x,genre_ids_x,...,original_title_y,overview_y,popularity_y,poster_path_y,release_date_y,title_y,video_y,vote_average_y,vote_count_y,genre_names
16237,/y8yvIrmoM2PLuJcSto7OmOfsXQj.jpg,440,Aliens vs Predator: Requiem,Aliens vs Predator: Requiem,After a horrifying PredAlien crash-lands near ...,/jCyJN1vj8jqJJ0vNw4hDH2KlySO.jpg,movie,False,en,"[14, 28, 878, 53, 27]",...,Aliens vs Predator: Requiem,After a horrifying PredAlien crash-lands near ...,48.459,/jCyJN1vj8jqJJ0vNw4hDH2KlySO.jpg,2007-12-25,Aliens vs Predator: Requiem,False,5.168,2749.0,"[Fantasy, Action, Science Fiction, Thriller, H..."
18977,/1oRug23GWxgyQmqQGbX7ke974lp.jpg,5902,A Bridge Too Far,A Bridge Too Far,The story of Operation Market Garden—a failed ...,/lszOk3Xmh7qpLaM9J4K9E6ADLk1.jpg,movie,False,en,"[18, 36, 10752]",...,A Bridge Too Far,The story of Operation Market Garden—a failed ...,23.779,/lszOk3Xmh7qpLaM9J4K9E6ADLk1.jpg,1977-06-15,A Bridge Too Far,False,7.212,785.0,"[Drama, History, War]"
7049,/wUXZ8KjLreDJPW3RCZTxrgJkb3i.jpg,336560,Lake Placid vs. Anaconda,Lake Placid vs. Anaconda,A giant alligator goes head to head with a gia...,/vWTTolhnR1yW7z1YAIC5vrTn4s8.jpg,movie,False,en,"[28, 27]",...,Lake Placid vs. Anaconda,A giant alligator goes head to head with a gia...,25.060,/vWTTolhnR1yW7z1YAIC5vrTn4s8.jpg,2015-04-25,Lake Placid vs. Anaconda,False,5.000,204.0,"[Action, Horror]"
10255,/sXM9H9cpeErz7xvuhC61NMR6pks.jpg,13008,An American Crime,An American Crime,The true story of suburban housewife Gertrude ...,/bLsE0sMI1bycBxZX7QNYghy5iyi.jpg,movie,False,en,"[80, 18, 27]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11044,/cCo3gKTHBVS5FKjvGQu0VSfVHW3.jpg,594003,2018 GFRIEND FIRST CONCERT 'Season of GFRIEND'...,2018 GFRIEND FIRST CONCERT 'Season of GFRIEND'...,"With more songs and new special stages, the So...",/enJ9jRgPnCfAzpmtpMxJ9sv9snt.jpg,movie,False,ko,[10402],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20321,/q0Y73Hf0604PqnnqKybaumMLBy6.jpg,10379,Drop Dead Fred,Drop Dead Fred,When Elizabeth returns to her mother's home af...,/v2kadCRcRdq8a0aRbQg4yVk3Xmd.jpg,movie,False,en,"[35, 14, 10751]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19779,/cd3oGh0ZuaB794UIz9G4c79OEDY.jpg,54433,Gamera: Guardian of the Universe,ガメラ 大怪獣空中決戦,A ship runs aground on a mysterious atoll lead...,/iZ8yFxavjqsZXfZhkfPqrc4NauY.jpg,movie,False,ja,"[14, 878, 28]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13169,/n6ggvrNiiDBGcymaomQPeVsIfUg.jpg,16995,State of Play,State of Play,"When a congressional aide is killed, a Washing...",/4f8nhHESDhAVKow2M1khmqDdatp.jpg,movie,False,en,[53],...,State of Play,"When a congressional aide is killed, a Washing...",22.730,/4f8nhHESDhAVKow2M1khmqDdatp.jpg,2009-04-17,State of Play,False,6.790,1876.0,[Thriller]
24306,/oHsiqHajO9v8YTuonvcMCkxtpSq.jpg,9714,Home Alone 3,Home Alone 3,9-year-old Alex Pruitt is home alone with the ...,/6uOadrCfle0n2LOOxHbgWEdnrm2.jpg,movie,False,en,"[35, 10751]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3783,/b6gTSFOHnP1gzu3TXNgHAh3gLNs.jpg,756982,Kamen Rider Zero-One The Movie: REAL×TIME,劇場版 仮面ライダーゼロワン REAL×TIME,A mysterious man called Es/Kamen Rider Eden ha...,/fbhCFNn5qhMCfdcqqZmKUKJM84.jpg,movie,False,ja,"[28, 878]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21383,/c4jwzF8rAD3c2YpPlRwrDAxWzT3.jpg,471968,The Last Warrior,Последний богатырь,Ivan is an ordinary guy who is transferred fro...,/oFEHcmPuI95aoeNrWXCVnA4oI5Y.jpg,movie,False,ru,"[14, 10751, 12, 28, 35]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19063,/sHHtfylgVd5A1pjBxKEPksF6eTC.jpg,12690,Appaloosa,Appaloosa,Two friends hired to police a small town that ...,/qLLUC8QaNx4BK1Vuf7XqSyd8icX.jpg,movie,False,en,"[18, 37, 80]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20615,/iJCJ1ThBmuYtJyi3rgQWl56qVXt.jpg,2989,Roar,Roar,Roar follows a family who are attacked by vari...,/dFI2504MT4JrhQuzDXNB1zwzt3d.jpg,movie,False,en,"[12, 27, 53]",...,Roar,Roar follows a family who are attacked by vari...,29.858,/dFI2504MT4JrhQuzDXNB1zwzt3d.jpg,1981-11-12,Roar,False,5.900,110.0,"[Adventure, Comedy, Thriller]"
16026,/42ByqU555QR05IQnjRNDXtrjQu5.jpg,54770,Time Traveller: The Girl Who Leapt Through Time,時をかける少女,Akari Yoshiyama is graduating high school soon...,/hios2NxpDTkSFvdZV7CkgNkeNUC.jpg,movie,False,ja,"[12, 878]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3312,/frlfy7RFqx5J4jrcMo25PqyasL3.jpg,295693,The Boss Baby,The Boss Baby,A story about how a new baby's arrival impacts...,/unPB1iyEeTBcKiLg8W083rlViFH.jpg,movie,False,en,"[16, 35, 10751]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1417,/Zgvt4ZQH5MUEm5zZUoeklHo8Ph.jpg,1266125,Suspect,超意神探,"It tells the story of Guo Wenbin, a policeman ...",/AkMWQY4mPAUGnFLCwj7cPB81Cs4.jpg,movie,False,zh,"[80, 9648]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2036,/jzZHe9Pv13u7R1U8NK0MiMESRwW.jpg,11317,My Girl 2,My Girl 2,"Vada Sultenfuss has a holiday coming up, and a...",/hEZ6L72eBORRnoUxf4pip5U76pq.jpg,movie,False,en,"[35, 10751]",...,My Girl 2,"Vada Sultenfuss has a holiday coming up, and a...",25.686,/hEZ6L72eBORRnoUxf4pip5U76pq.jpg,1994-02-11,My Girl 2,False,5.900,458.0,"[Comedy, Family]"
8140,/iuW78LWxApCvjLuMebcICwF2owQ.jpg,465086,The Grudge,The Grudge,After a young mother murders her family in her...,/vN7JHlHOT9rHNDU27tfYqhABBj5.jpg,movie,False,en,"[27, 9648]",...,The Grudge,After a young mother murders her family in her...,23.577,/vN7JHlHOT9rHNDU27tfYqhABBj5.jpg,2019-12-31,The Grudge,False,5.400,1154.0,"[Horror, Mystery]"
24605,/sy0vo1cmpKqwPRiMUiJ45jyLsX7.jpg,8871,How the Grinch Stole Christmas,How the Grinch Stole Christmas,The Grinch decides to rob Whoville of Christma...,/14HBFGNQHSl6zsTrCbzDg8aRK0J.jpg,movie,False,en,"[10751, 35, 14]",...,How the Grinch Stole Christmas,The Grinch decides to rob Whoville of Christma...,54.840,/14HBFGNQHSl6zsTrCbzDg8aRK0J.jpg,2000-11-17,How the Grinch Stole Christmas,False,6.762,7209.0,"[Family, Comedy, Fantasy]"
1584,/5ccklJJR9McV3nzAgurdbc5nAlz.jpg,9348,Species,Species,"In 1993, the Search for Extra Terrestrial Inte...",/cT5wdyo8kT7dycqjrolJ2sHWkFx.jpg,movie,False,en,"[878, 27, 28]",...,Species,"In 1993, the Search for Extra Terrestrial Inte...",181.812,/cT5wdyo8kT7dycqjrolJ2sHWkFx.jpg,1995-07-07,Species,False,6.000,1573.0,"[Science Fiction, Horror, Action]"

In [ ]:
file_path = '/content/drive/My Drive/movie.csv'

# Save the DataFrame to the specified file path
df.to_csv(file_path, index=False)

In [139]:
df1 = pd.read_csv('movie.csv')

In [140]:
df1.head()

,adult,gender,id,known_for_department,name,original_name,popularity,profile_path,known_for
0,False,1,1696016,Acting,Chloe Coleman,Chloe Coleman,260.448,/rTbVFZMvUViFCIa5AXlBX3P6vfR.jpg,[{'backdrop_path': '/eEF40Xk2twM3WjRNZftfo771g...
1,False,1,1254975,Acting,Shin Hyun-been,신현빈,231.228,/ajYk4UgT4hYCvfo0LA1SFJt9mTU.jpg,[{'backdrop_path': '/lkUYS8K3tqOJsYHCKSWIMbG7p...
2,False,2,85,Acting,Johnny Depp,Johnny Depp,195.325,/wcI594cwM4ArPwvRd2IU0Z0yLuh.jpg,[{'backdrop_path': '/wW7Wt5bXzPy4VOEE4LTIUDyDg...
3,False,2,64,Acting,Gary Oldman,Gary Oldman,193.947,/2v9FVVBUrrkW2m3QOcYkuhq9A6o.jpg,[{'backdrop_path': '/dqK9Hag1054tghRQSqLSfrkvQ...
4,False,2,2786960,Acting,Gabriel Guevara,Gabriel Guevara,193.248,/pviRYKEEmoPUfLYwP1VHJ6LQcRg.jpg,[{'backdrop_path': '/lntyt4OVDbcxA1l7LtwITbrD3...

In [141]:
import ast
def extract_known_for_info(known_for_list):
    result = []
    for item in known_for_list:
        result.append({
            'backdrop_path': item.get('backdrop_path'),
            'id': item.get('id'),
            'title': item.get('title'),
            'original_title': item.get('original_title'),
            'overview': item.get('overview'),
            'poster_path': item.get('poster_path'),
            'media_type': item.get('media_type'),
            'adult': item.get('adult'),
            'original_language': item.get('original_language'),
            'genre_ids': item.get('genre_ids'),
            'popularity': item.get('popularity'),
            'release_date': item.get('release_date'),
            'video': item.get('video'),
            'vote_average': item.get('vote_average'),
            'vote_count': item.get('vote_count')
        })
    return result

# Parse 'Known_for' column and expand it
df1['known_for'] = df1['known_for'].apply(ast.literal_eval)  # Convert string representation of list to actual list
df1 = df1['known_for'].apply(pd.Series).stack().reset_index(level=1, drop=True)
df1 = pd.DataFrame(df1.tolist())

In [142]:
lis = ['name', 'original_name', 'first_air_date', 'origin_country']
for i in lis:
    if i in df1.columns:
        df1.drop(i, axis= 1, inplace=True)

In [143]:
df1.isna().sum()

backdrop_path         357
id                      0
title                6766
original_title       6766
overview                0
poster_path            20
media_type              0
adult                   0
original_language       0
genre_ids               0
popularity              0
release_date         6766
video                6766
vote_average            0
vote_count              0
dtype: int64

In [144]:
df1.dropna(inplace=True)

In [145]:
df1.isna().sum()

backdrop_path        0
id                   0
title                0
original_title       0
overview             0
poster_path          0
media_type           0
adult                0
original_language    0
genre_ids            0
popularity           0
release_date         0
video                0
vote_average         0
vote_count           0
dtype: int64

In [146]:
df1.shape

(22840, 15)

In [147]:
genre_mapping = {
    28: 'Action',
    12: 'Adventure',
    16: 'Animation',
    35: 'Comedy',
    80: 'Crime',
    99: 'Documentary',
    18: 'Drama',
    10751: 'Family',
    14: 'Fantasy',
    36: 'History',
    27: 'Horror',
    10402: 'Music',
    9648: 'Mystery',
    10749: 'Romance',
    878: 'Science Fiction',
    10770: 'TV Movie',
    53: 'Thriller',
    10752: 'War',
    37: 'Western'
}

# Function to map genres and return a string
def map_genres_to_string(number_list):
    genre_names = [genre_mapping.get(num, 'Unknown') for num in number_list]
    return ', '.join(genre_names)

# Apply the function to convert the genre list into a string
df1['genre_names'] = df1['genre_ids'].apply(map_genres_to_string)

In [149]:
# Count occurrences of 'Unknown' in the 'genre_names' column
unknown_count = df1['genre_names'].apply(lambda x: 'Unknown' in x).sum()

In [150]:
unknown_count

0

In [162]:
df2 = pd.read_csv('discovered_movies.csv', lineterminator='\n')

In [163]:
df2.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/xg27NrXi7VXCGUr7MG75UqLl6Vg.jpg,"[16, 10751, 18, 12, 35]",1022789,en,Inside Out 2,Teenager Riley's mind headquarters is undergoi...,8445.266,/vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg,2024-06-11,Inside Out 2,False,7.943,374
1,False,/fqv8v6AycXKsivp1T5yKtLbGXce.jpg,"[878, 12, 28]",653346,en,Kingdom of the Planet of the Apes,Several generations in the future following Ca...,3069.128,/gKkl37BQuKTanygYQG1pyYgLVgf.jpg,2024-05-08,Kingdom of the Planet of the Apes,False,6.862,1139
2,False,/j29ekbcLpBvxnGk6LjdTc2EI5SA.jpg,"[16, 10751, 12, 18, 35]",150540,en,Inside Out,From an adventurous balloon ride above the clo...,2381.980,/2H1TmgdfNtsKlU9jKdeNyYL5y8T.jpg,2015-06-17,Inside Out,False,7.916,20679
3,False,/iTWrsOVsUqcwYSxrpINNs3hG2nC.jpg,"[53, 27, 28, 9648]",1001311,fr,Sous la Seine,"In the Summer of 2024, Paris is hosting the Wo...",2187.027,/qZPLK5ktRKa3CL4sKRZtj8UlPYc.jpg,2024-06-05,Under Paris,False,5.967,606
4,False,/gRApXuxWmO2forYTuTmcz5RaNUV.jpg,"[28, 80, 53, 35]",573435,en,Bad Boys: Ride or Die,"After their late former Captain is framed, Low...",2057.749,/nP6RliHjxsz4irTKsxe8FRhKZYl.jpg,2024-06-05,Bad Boys: Ride or Die,False,7.121,346

In [164]:
genre_mapping = {
    28: 'Action',
    12: 'Adventure',
    16: 'Animation',
    35: 'Comedy',
    80: 'Crime',
    99: 'Documentary',
    18: 'Drama',
    10751: 'Family',
    14: 'Fantasy',
    36: 'History',
    27: 'Horror',
    10402: 'Music',
    9648: 'Mystery',
    10749: 'Romance',
    878: 'Science Fiction',
    10770: 'TV Movie',
    53: 'Thriller',
    10752: 'War',
    37: 'Western'
}

# Function to map genres and return a string
def map_genres_to_string(number_list):
    genre_names = [genre_mapping.get(num, 'Unknown') for num in number_list]
    return ', '.join(genre_names)

# Apply the function to convert the genre list into a string
df2['genre_names'] = df2['genre_ids'].apply(map_genres_to_string)

In [165]:
# Count occurrences of 'Unknown' in the 'genre_names' column
unknown_count = df2['genre_names'].apply(lambda x: 'Unknown' in x).sum()

In [166]:
unknown_count

10000

In [156]:
cols = ['backdrop_path', 'id', 'title', 'original_title', 'overview',
       'poster_path', 'adult', 'original_language', 'genre_ids', 'popularity',
       'release_date', 'video', 'vote_average', 'vote_count']
df2 = df2[cols]

In [153]:
df1.columns

Index(['backdrop_path', 'id', 'title', 'original_title', 'overview',
       'poster_path', 'media_type', 'adult', 'original_language', 'genre_ids',
       'popularity', 'release_date', 'video', 'vote_average', 'vote_count',
       'genre_names'],
      dtype='object')

In [154]:
df2.columns

Index(['adult', 'backdrop_path', 'genre_ids', 'id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [155]:
df1.drop('media_type',axis=1, inplace=True)

In [160]:
df1.columns

Index(['backdrop_path', 'id', 'title', 'original_title', 'overview',
       'poster_path', 'adult', 'original_language', 'genre_ids', 'popularity',
       'release_date', 'video', 'vote_average', 'vote_count', 'genre_names'],
      dtype='object')

In [133]:
df1.shape

(22840, 14)

In [134]:
df2.columns

Index(['backdrop_path', 'id', 'title', 'original_title', 'overview',
       'poster_path', 'adult', 'original_language', 'genre_ids', 'popularity',
       'release_date', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [135]:
df = pd.concat([df1, df2], axis=0)

In [136]:
for col in df.columns:
    print(f"Column '{col}':", df[col].apply(type).unique())

Column 'backdrop_path': [<class 'str'> <class 'float'>]
Column 'id': [<class 'int'>]
Column 'title': [<class 'str'>]
Column 'original_title': [<class 'str'>]
Column 'overview': [<class 'str'> <class 'float'>]
Column 'poster_path': [<class 'str'> <class 'float'>]
Column 'adult': [<class 'bool'>]
Column 'original_language': [<class 'str'>]
Column 'genre_ids': [<class 'list'> <class 'str'>]
Column 'popularity': [<class 'float'>]
Column 'release_date': [<class 'str'> <class 'float'>]
Column 'video': [<class 'bool'>]
Column 'vote_average': [<class 'float'>]
Column 'vote_count': [<class 'int'>]

In [137]:
genre_mapping = {
    28: 'Action',
    12: 'Adventure',
    16: 'Animation',
    35: 'Comedy',
    80: 'Crime',
    99: 'Documentary',
    18: 'Drama',
    10751: 'Family',
    14: 'Fantasy',
    36: 'History',
    27: 'Horror',
    10402: 'Music',
    9648: 'Mystery',
    10749: 'Romance',
    878: 'Science Fiction',
    10770: 'TV Movie',
    53: 'Thriller',
    10752: 'War',
    37: 'Western'
}

# Function to map genres and return a string
def map_genres_to_string(number_list):
    genre_names = [genre_mapping.get(num, 'Unknown') for num in number_list]
    return ', '.join(genre_names)

# Apply the function to convert the genre list into a string
df['genre_names'] = df['genre_ids'].apply(map_genres_to_string)

In [138]:
df

,backdrop_path,id,title,original_title,overview,poster_path,adult,original_language,genre_ids,popularity,release_date,video,vote_average,vote_count,genre_names
0,/eEF40Xk2twM3WjRNZftfo771gjv.jpg,700391,65,65,"65 million years ago, the only 2 survivors of ...",/rzRb63TldOKdKydCvWJM8B6EkPM.jpg,False,en,"[878, 28, 12, 53]",62.105,2023-03-02,False,6.008,2211,"Science Fiction, Action, Adventure, Thriller"
1,/4xIBM8RwIvpwMlJSoF6tqFOaB6N.jpg,592834,My Spy,My Spy,A hardened CIA operative finds himself at the ...,/n2C6jRK9PtPIs99RQhKtqGlsnsO.jpg,False,en,"[10751, 28, 35]",156.480,2020-01-09,False,6.900,1136,"Family, Action, Comedy"
2,/oblUNeHlwV3VsjB5ITMlco5ZSOF.jpg,493529,Dungeons & Dragons: Honor Among Thieves,Dungeons & Dragons: Honor Among Thieves,A charming thief and a band of unlikely advent...,/v7UF7ypAqjsFZFdjksjQ7IUpXdn.jpg,False,en,"[12, 14, 35]",84.791,2023-03-23,False,7.376,3276,"Adventure, Fantasy, Comedy"
3,/lkUYS8K3tqOJsYHCKSWIMbG7ptj.jpg,571625,The Closet,클로젯,"After moving into a new house, a young girl be...",/W2tus8EwEagKCCCPqqocHEM9F2.jpg,False,ko,"[27, 53]",19.081,2020-02-05,False,7.276,174,"Horror, Thriller"
4,/1yqVaDR7uIA3Xx9GQIhbEbh5pEe.jpg,571648,Beasts Clawing at Straws,지푸라기라도 잡고 싶은 짐승들,"A struggling restaurant owner, caring for his ...",/7roaNIjNHMitbiNX0uEIFcwy6Cb.jpg,False,ko,"[9648, 53, 80, 18]",19.146,2020-02-19,False,7.119,235,"Mystery, Thriller, Crime, Drama"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,/qqthj8EUL4QKlDBoMcPqeWvi6Ya.jpg,756403,Riverdance: The Animated Adventure,Riverdance: The Animated Adventure,A young Irish boy named Keegan and Spanish gir...,/i6TRDlVuuEXMyLSlIkDd8YhBN0r.jpg,False,en,"[16, 14, 10402, 12, 35, 10751]",18.752,2021-05-28,False,5.965,85,"Unknown, Unknown, Unknown, Unknown, Unknown, U..."
9996,/rVwsqRYQk3pz4irrqaOQcLTTKlM.jpg,14584,The Cheap Detective,The Cheap Detective,A spoof of the entire 1940s detective genre. S...,/7poVN0zQuxCIorAR9N6JDJN0dGG.jpg,False,en,"[35, 80, 9648]",9.969,1978-06-23,False,6.200,82,"Unknown, Unknown, Unknown, Unknown, Unknown, U..."
9997,/eCtRseKCbltn8C6XW1GhqW0c4VA.jpg,10646,Tomcats,Tomcats,College buddies chip in and promise that the g...,/LpIAhTgwyh22Y4BhYbEsZv0u9W.jpg,False,en,"[35, 10749]",16.010,2001-03-30,False,5.100,244,"Unknown, Unknown, Unknown, Unknown, Unknown, U..."
9998,/kGinxaX9yrpfKqYAxRpdVFUcEAH.jpg,9830,Haven,Haven,"During a weekend, two shady businessmen flee t...",/cV6rQ2wPN5I58d34DHyFAmO36BF.jpg,False,en,"[18, 80]",18.752,2004-09-10,False,5.300,95,"Unknown, Unknown, Unknown, Unknown, Unknown, U..."
9999,/y319VH0gIFie6KEO5L4nHhxxQUw.jpg,9437,Kiss the Girls,Kiss the Girls,Forensic psychologist and detective Alex Cross...,/25h5I3E3ydhazsPDnscWHivq5pn.jpg,False,en,"[53, 80, 9648, 18]",18.752,1997-09-29,False,6.519,1440,"Unknown, Unknown, Unknown, Unknown, Unknown, U..."

In [109]:
genre_mapping = {
    28: 'Action',
    12: 'Adventure',
    16: 'Animation',
    35: 'Comedy',
    80: 'Crime',
    99: 'Documentary',
    18: 'Drama',
    10751: 'Family',
    14: 'Fantasy',
    36: 'History',
    27: 'Horror',
    10402: 'Music',
    9648: 'Mystery',
    10749: 'Romance',
    878: 'Science Fiction',
    10770: 'TV Movie',
    53: 'Thriller',
    10752: 'War',
    37: 'Western'
}
# Define the function for mapping and joining
def map_genres_to_string(number_list):
    return ', '.join([genre_mapping.get(num, 'Unknown') for num in number_list])

# Apply the function to the DataFrame
df['genre_names'] = df['genre_ids'].apply(map_genres_to_string)

movie ids was compiled and save [here](https://www.themoviedb.org/talk/5f58b094befb0900355684a6)

In [110]:
df.drop('genre_ids', inplace=True, axis=1)
cols = ['backdrop_path', 'id', 'title', 'original_title', 'overview',
       'poster_path', 'adult', 'original_language', 'genre_names', 'popularity',
       'release_date', 'video', 'vote_average', 'vote_count']
df = df[cols]

In [111]:
df.drop_duplicates(inplace=True)

In [112]:
df.dropna(inplace=True)

In [113]:
df.duplicated().sum()

0

In [114]:
df.isna().sum()

backdrop_path        0
id                   0
title                0
original_title       0
overview             0
poster_path          0
adult                0
original_language    0
genre_names          0
popularity           0
release_date         0
video                0
vote_average         0
vote_count           0
dtype: int64

In [115]:
df['release_date'] = pd.to_datetime(df['release_date'])

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18274 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   backdrop_path      18274 non-null  object
 1   id                 18274 non-null  int64
 2   title              18274 non-null  object
 3   original_title     18274 non-null  object
 4   overview           18274 non-null  object
 5   poster_path        18274 non-null  object
 6   adult              18274 non-null  bool
 7   original_language  18274 non-null  object
 8   genre_names        18274 non-null  object
 9   popularity         18274 non-null  float64
 10  release_date       18273 non-null  datetime64[ns]
 11  video              18274 non-null  object
 12  vote_average       18274 non-null  float64
 13  vote_count         18274 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(8)
memory usage: 2.0+ MB

In [117]:
df

,backdrop_path,id,title,original_title,overview,poster_path,adult,original_language,genre_names,popularity,release_date,video,vote_average,vote_count
0,/eEF40Xk2twM3WjRNZftfo771gjv.jpg,700391,65,65,"65 million years ago, the only 2 survivors of ...",/rzRb63TldOKdKydCvWJM8B6EkPM.jpg,False,en,"Science Fiction, Action, Adventure, Thriller",62.105,2023-03-02,False,6.008,2211
1,/4xIBM8RwIvpwMlJSoF6tqFOaB6N.jpg,592834,My Spy,My Spy,A hardened CIA operative finds himself at the ...,/n2C6jRK9PtPIs99RQhKtqGlsnsO.jpg,False,en,"Family, Action, Comedy",156.480,2020-01-09,False,6.900,1136
2,/oblUNeHlwV3VsjB5ITMlco5ZSOF.jpg,493529,Dungeons & Dragons: Honor Among Thieves,Dungeons & Dragons: Honor Among Thieves,A charming thief and a band of unlikely advent...,/v7UF7ypAqjsFZFdjksjQ7IUpXdn.jpg,False,en,"Adventure, Fantasy, Comedy",84.791,2023-03-23,False,7.376,3276
3,/lkUYS8K3tqOJsYHCKSWIMbG7ptj.jpg,571625,The Closet,클로젯,"After moving into a new house, a young girl be...",/W2tus8EwEagKCCCPqqocHEM9F2.jpg,False,ko,"Horror, Thriller",19.081,2020-02-05,False,7.276,174
4,/1yqVaDR7uIA3Xx9GQIhbEbh5pEe.jpg,571648,Beasts Clawing at Straws,지푸라기라도 잡고 싶은 짐승들,"A struggling restaurant owner, caring for his ...",/7roaNIjNHMitbiNX0uEIFcwy6Cb.jpg,False,ko,"Mystery, Thriller, Crime, Drama",19.146,2020-02-19,False,7.119,235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,/qqthj8EUL4QKlDBoMcPqeWvi6Ya.jpg,756403,Riverdance: The Animated Adventure,Riverdance: The Animated Adventure,A young Irish boy named Keegan and Spanish gir...,/i6TRDlVuuEXMyLSlIkDd8YhBN0r.jpg,False,en,"Unknown, Unknown, Unknown, Unknown, Unknown, U...",18.752,2021-05-28,False,5.965,85
9996,/rVwsqRYQk3pz4irrqaOQcLTTKlM.jpg,14584,The Cheap Detective,The Cheap Detective,A spoof of the entire 1940s detective genre. S...,/7poVN0zQuxCIorAR9N6JDJN0dGG.jpg,False,en,"Unknown, Unknown, Unknown, Unknown, Unknown, U...",9.969,1978-06-23,False,6.200,82
9997,/eCtRseKCbltn8C6XW1GhqW0c4VA.jpg,10646,Tomcats,Tomcats,College buddies chip in and promise that the g...,/LpIAhTgwyh22Y4BhYbEsZv0u9W.jpg,False,en,"Unknown, Unknown, Unknown, Unknown, Unknown, U...",16.010,2001-03-30,False,5.100,244
9998,/kGinxaX9yrpfKqYAxRpdVFUcEAH.jpg,9830,Haven,Haven,"During a weekend, two shady businessmen flee t...",/cV6rQ2wPN5I58d34DHyFAmO36BF.jpg,False,en,"Unknown, Unknown, Unknown, Unknown, Unknown, U...",18.752,2004-09-10,False,5.300,95
9999,/y319VH0gIFie6KEO5L4nHhxxQUw.jpg,9437,Kiss the Girls,Kiss the Girls,Forensic psychologist and detective Alex Cross...,/25h5I3E3ydhazsPDnscWHivq5pn.jpg,False,en,"Unknown, Unknown, Unknown, Unknown, Unknown, U...",18.752,1997-09-29,False,6.519,1440

In [84]:
# Count occurrences of 'Unknown' in the 'genre_names' column
unknown_count = df['genre_names'].apply(lambda x: 'Unknown' in x).sum()

In [85]:
unknown_count

8145

In [86]:
df2.tail()

,backdrop_path,id,title,original_title,overview,poster_path,adult,original_language,genre_ids,popularity,release_date,video,vote_average,vote_count
9995,/qqthj8EUL4QKlDBoMcPqeWvi6Ya.jpg,756403,Riverdance: The Animated Adventure,Riverdance: The Animated Adventure,A young Irish boy named Keegan and Spanish gir...,/i6TRDlVuuEXMyLSlIkDd8YhBN0r.jpg,False,en,"[16, 14, 10402, 12, 35, 10751]",18.752,2021-05-28,False,5.965,85
9996,/rVwsqRYQk3pz4irrqaOQcLTTKlM.jpg,14584,The Cheap Detective,The Cheap Detective,A spoof of the entire 1940s detective genre. S...,/7poVN0zQuxCIorAR9N6JDJN0dGG.jpg,False,en,"[35, 80, 9648]",9.969,1978-06-23,False,6.200,82
9997,/eCtRseKCbltn8C6XW1GhqW0c4VA.jpg,10646,Tomcats,Tomcats,College buddies chip in and promise that the g...,/LpIAhTgwyh22Y4BhYbEsZv0u9W.jpg,False,en,"[35, 10749]",16.010,2001-03-30,False,5.100,244
9998,/kGinxaX9yrpfKqYAxRpdVFUcEAH.jpg,9830,Haven,Haven,"During a weekend, two shady businessmen flee t...",/cV6rQ2wPN5I58d34DHyFAmO36BF.jpg,False,en,"[18, 80]",18.752,2004-09-10,False,5.300,95
9999,/y319VH0gIFie6KEO5L4nHhxxQUw.jpg,9437,Kiss the Girls,Kiss the Girls,Forensic psychologist and detective Alex Cross...,/25h5I3E3ydhazsPDnscWHivq5pn.jpg,False,en,"[53, 80, 9648, 18]",18.752,1997-09-29,False,6.519,1440